.container-main {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.container-name {
  display: flex;
  justify-content: space-between;

  background-color: #e4dee4;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.name-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.name-details > input {
  font-size: 25px;
}

.container-education {
  background-color: #e4dee4;
  padding: 10px;

  border-bottom: 2px solid black;
}

.education-title,
.experience-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(163, 156, 156);
  cursor: pointer;
}

.tools-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 10px;
}

.simple-tools-container {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-right: 10px;
}

.container-experience {
  background-color: #e4dee4;
  padding: 10px;
}

.container-degree {
  display: flex;
  justify-content: space-between;

  padding: 5px;
  margin-top: 30px;
  background-color: rgb(214, 206, 206);
}

.degree-date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 20px;
}

.degree-date > span {
  align-self: center;
  cursor: pointer;
}

.degree-date > input {
  align-self: center;
}

.degree-details > h4 {
  margin-bottom: 10px;
}

.container-work {
  display: flex;
  flex-direction: column;

  padding: 5px;
  margin-top: 30px;
  background-color: rgb(214, 206, 206);
}

.container-work-edit {
  display: flex;
  flex-direction: row;

  padding: 5px;
  background-color: rgb(214, 206, 206);
  margin-top: 30px;
}

.work-role-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.work-date-edit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 20px;
}

.work-date {
  display: flex;
  flex-direction: row;
}

.work-date-edit > span {
  cursor: pointer;
  align-self: center;
}

.work-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-input-edit,
.title-input-edit {
  margin-bottom: 10px;
}
