.container-side {
  display: flex;
  flex-direction: column;

  background-color: rgb(224, 208, 208);
  padding: 10px 20px 10px 10px;
  width: 35%;

  border-right: 2px solid black;
}

.info-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}

.info-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.introduction-main-edit {
  margin-top: 20px;
  resize: vertical;
  word-break: break-all;
  width: 100%;

  font-size: 15px;
}

.introduction-main {
  margin-top: 20px;
  font-size: 15px;
}

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-contact-details {
  margin-top: 20px;
}

.container-contact-details > h5 {
  margin-bottom: 10px;
}

.container-contact > h4 > p {
  font-size: 13px;
}

.contact-title,
.introduction-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(163, 156, 156);
  cursor: pointer;
}
