* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-all {
  display: flex;
  padding: 10px;
  margin: 10px;

  width: 210mm;
  min-height: 260mm;

  background-color: rgb(224, 208, 208);
}
